# Ignore everything by default
*

# Docker files and configs
!docker/

# Build-only artefacts (not in git)
!build-assets/

# Python app
!*.py
!requirements.txt
!src/
!ansible/
!certs/

# Frontend assets
!static/
!templates/
!tailwind.config.js
