dotenv==0.9.9
elasticsearch==8.17.0
Flask==3.1.1
flask-cors==6.0.0
fpdf2==2.8.3
Flask-SocketIO==5.5.1
simple-websocket==1.1.0
gunicorn==23.0.0
huggingface_hub>=0.32.0
jq==1.9.1
langchain==0.3.26
langchain-community==0.3.26
langchain-core==0.3.66
langchain-openai==0.3.25
langchain-text-splitters==0.3.8
nanoid==2.0.0
pandas==2.3.0
pcre2==0.5.2
pycryptodome==3.23.0
pymongo==4.13.0
pypdf==5.6.1
python-dotenv==1.1.0
PyYAML==6.0.2
requests==2.32.3
sentence-transformers==4.1.0
torch --index-url https://download.pytorch.org/whl/cpu
spacy==3.8.11
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
splunk-sdk==2.1.0