certifi==2025.1.31 ; python_version >= "3.7" and python_version < "3.14"
charset-normalizer==3.4.1 ; python_version >= "3.7" and python_version < "3.14"
defusedxml==0.7.1 ; python_version >= "3.7" and python_version < "3.14"
deprecation==2.1.0 ; python_version >= "3.7" and python_version < "3.14"
idna==3.10 ; python_version >= "3.7" and python_version < "3.14"
packaging==24.0 ; python_version >= "3.7" and python_version < "3.14"
pysocks==1.7.1 ; python_version >= "3.7" and python_version < "3.14"
requests==2.31.0 ; python_version >= "3.7" and python_version < "3.14"
solnlib==6.3.0 ; python_version >= "3.7" and python_version < "3.14"
sortedcontainers==2.4.0 ; python_version >= "3.7" and python_version < "3.14"
splunk-sdk==2.1.0 ; python_version >= "3.7" and python_version < "3.14"
splunktaucclib==8.0.0 ; python_version >= "3.7" and python_version < "3.14"
urllib3==1.26.20 ; python_version >= "3.7" and python_version < "3.14"
