certifi==2024.7.4 ; python_version >= "3.7" and python_version < "3.13"
chardet==5.2.0 ; python_version >= "3.7" and python_version < "3.13"
charset-normalizer==3.3.2 ; python_version >= "3.7" and python_version < "3.13"
defusedxml==0.7.1 ; python_version >= "3.7" and python_version < "3.13"
deprecation==2.1.0 ; python_version >= "3.7" and python_version < "3.13"
idna==3.10 ; python_version >= "3.7" and python_version < "3.13"
packaging==24.0 ; python_version >= "3.7" and python_version < "3.13"
pysocks==1.7.1 ; python_version >= "3.7" and python_version < "3.13"
python-dateutil==2.8.2 ; python_version >= "3.7" and python_version < "3.13"
requests==2.31.0 ; python_version >= "3.7" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.7" and python_version < "3.13"
solnlib==6.0.1 ; python_version >= "3.7" and python_version < "3.13"
sortedcontainers==2.4.0 ; python_version >= "3.7" and python_version < "3.13"
splunk-sdk==2.1.0 ; python_version >= "3.7" and python_version < "3.13"
splunksdc @ git+https://github.com/splunk/splunksdc.git@v1.0.0 ; python_version >= "3.7" and python_version < "3.13"
splunktalib==3.0.6 ; python_version >= "3.7" and python_version < "3.13"
splunktaucclib==6.6.0 ; python_version >= "3.7" and python_version < "3.13"
u-msgpack-python==2.8.0 ; python_version >= "3.7" and python_version < "3.13"
urllib3==1.26.19 ; python_version >= "3.7" and python_version < "3.13"
