.view------dev---H7mpg:hover {
  color: #FFFFFF !important;
}
.view------dev---H7mpg {
  background: inherit !important;
  color: #C3CBD4 !important;
  font-size: 14px;
}

.gt------dev---Hq1MU {
  color: #5CC05C !important;
  transition: text-shadow 0.2s;
}
.brand------dev---3o_eU {
  height: 34px !important;
  line-height: 34px !important;
}
.view------dev---1uX-W {
  height: 34px !important;
}
.view------dev---3g4Un:hover {
  background: transparent !important;
  color: #FFFFFF !important;
}
.view------dev---3g4Un {
  color: #C3CBD4 !important;
  font-size:14px !important;
  height: 34px !important;
  line-height: 34px !important;
}
.view------dev---3o1OB {
  height: 20px;
}
.inputSearch------dev---1M1A7[type=text] {
  height: 20px !important;
}

.view------dev---NRVjR {
  font-size: 16px !important;
  height: 44px;
  line-height: 44px !important;
}

.icon------dev---Ib_jc {
    height: 32px;
    width: 32px;
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
    line-height: 20px !important;
}
.view------dev---9j4mx {
  min-height: 44px !important;
}
