defusedxml==0.7.1 ; python_version >= "3.7" and python_version < "4.0"
httplib2==0.22.0 ; python_version >= "3.7" and python_version < "4.0"
pyparsing==3.1.4 ; python_version >= "3.7" and python_version < "4.0"
sortedcontainers==2.4.0 ; python_version >= "3.7" and python_version < "4.0"
