attrs==24.2.0 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
azure-common==1.1.28 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
azure-core==1.30.1 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
azure-data-tables==12.4.4 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
azure-eventhub-checkpointstoreblob==1.1.4 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
azure-eventhub==5.11.5 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
azure-identity==1.15.0 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
azure-mgmt-core==1.4.0 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
azure-mgmt-resource==23.0.1 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
azure-storage-blob==12.19.1 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
cattrs==23.1.2 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
certifi==2024.7.4 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_version < "3.14"
cffi==1.15.1 ; python_version >= "3.7" and (python_full_version < "3.8.0" or python_full_version >= "3.9.3") and (python_full_version < "3.10.0" or python_version >= "3.13") and python_full_version < "3.14.0" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.1 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_version < "3.14"
cryptography==44.0.1 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
defusedxml==0.7.1 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_version < "3.14"
deprecation==2.1.0 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_version < "3.14"
exceptiongroup==1.2.2 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0"
idna==3.7 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_version < "3.14"
importlib-metadata==6.7.0 ; python_version >= "3.7" and python_version < "3.8"
isodate==0.7.2 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
msal-extensions==1.2.0 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
msal==1.31.1 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
msrest==0.7.1 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
multidict==6.0.5 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
oauthlib==3.2.2 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
packaging==24.0 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_version < "3.14"
portalocker==2.7.0 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
pycparser==2.21 ; python_version >= "3.7" and (python_full_version < "3.8.0" or python_full_version >= "3.9.3") and (python_full_version < "3.10.0" or python_version >= "3.13") and python_full_version < "3.14.0" and platform_python_implementation != "PyPy"
pyjwt[crypto]==2.8.0 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
pysocks==1.7.1 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_version < "3.14"
pywin32==308 ; python_version >= "3.7" and python_full_version < "3.8.0" and platform_system == "Windows" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" and platform_system == "Windows" or python_version >= "3.13" and python_full_version < "3.14.0" and platform_system == "Windows"
requests-oauthlib==2.0.0 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
requests==2.31.0 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_version < "3.14"
six==1.16.0 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
solnlib==6.1.0 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_version < "3.14"
sortedcontainers==2.4.0 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_version < "3.14"
splunk-sdk==2.1.0 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_version < "3.14"
splunksdc @ git+ssh://git@github.com/splunk/splunksdc.git@v1.0.0 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
splunktalib==3.0.5 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_version < "3.14"
splunktaucclib==6.6.0 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_version < "3.14"
typing-extensions==4.7.1 ; python_version >= "3.7" and python_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
u-msgpack-python==2.8.0 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
urllib3==1.26.20 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_version < "3.14"
websocket-client==1.6.1 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
yarl==1.9.4 ; python_version >= "3.7" and python_full_version < "3.8.0" or python_full_version >= "3.9.3" and python_full_version < "3.10.0" or python_version >= "3.13" and python_full_version < "3.14.0"
zipp==3.15.0 ; python_version >= "3.7" and python_version < "3.8"
