certifi==2024.7.4 ; python_version >= "3.7" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.7" and python_version < "4.0"
configparser==5.3.0 ; python_version >= "3.7" and python_version < "4.0"
defusedxml==0.7.1 ; python_version >= "3.7" and python_version < "4.0"
deprecation==2.1.0 ; python_version >= "3.7" and python_version < "4.0"
idna==3.7 ; python_version >= "3.7" and python_version < "4.0"
packaging==24.0 ; python_version >= "3.7" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.7" and python_version < "4.0"
sortedcontainers==2.4.0 ; python_version >= "3.7" and python_version < "4.0"
splunk-sdk==2.0.2 ; python_version >= "3.7" and python_version < "4.0"
splunktalib==3.0.1 ; python_version >= "3.7" and python_version < "4.0"
urllib3==1.26.19 ; python_version >= "3.7" and python_version < "4.0"
