

.mitreTactic {
    border: 1px solid gray;
    background-color: white;
    color: black;
    margin-bottom: 10px;
}

.mitreTactic.active {
    border: 1px solid blue;
    background-color: lightblue;
}


.mitreTechnique {
    border: 1px solid gray;
    background-color: white;
    color: black;
    margin-bottom: 10px;
}

.mitreTechnique.active {
    border: 1px solid gray;
    background-color: lightblue;
}


.dataSourceSelection {
    border: 1px solid gray;
    background-color: white;
    color: black;
    margin-bottom: 10px;
}

.dataSourceSelection.active {
    border: 1px solid blue;
    background-color: lightblue;
}


.dscSelection {
    border: 1px solid gray;
    background-color: white;
    color: black;
    margin-bottom: 10px;
}

.dscSelection.active {
    border: 1px solid gray;
    background-color: lightblue;
}


#bookmarkNavContainer {
    height: 35px;
    width: 400px;
    font-size: 13px;
    line-height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    background-color: #d3d3d3;
    display: inline-block;
    float: right;
    text-align: center;
}

#main_table>thead>tr>th {
    position: static;
}

.box-for-data-source-boxes {
    position: relative;
}

.dataSourceBox {
    /*width: 275px;*/
    width: 90%;
    display: inline-block;
    border: 1px gray solid;
    background-color: white;
    padding: 5px;
    margin: 10px;
    vertical-align: top;
}

.data_source_column {
    width: 305px;
    display: inline-block;
    vertical-align: top;
}

.tooltip-arrow {
    display: none;
}

#main_table_body .name {
    font-size: 11pt;
}

#bookmarkrow {
    background-color: #f0f2f3
}

.dvbanner {
    font-size: 15px
}

.panel-title {
    height: 2.1em
}
/* 
#bookmark_printable_table {
    display: none;
}

.printonly {
    display: none;
} */

#bottomTextBlock {
    display: block;
    height: 200px;
    width: 100%;
    /*background-color: rgb(238, 238, 238); */
    text-align: right;
}

.edit-export-pdf {
    display: none !important;
}

.edit-schedule-pdf {
    display: none !important;
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

.multiselect {
    text-align: left;
}

.multiselect-container {
    transform: none !important;
    top: 100% !important;
    max-height: 430px;
    overflow-y: auto;
    margin-top: -10px !important;
}

.dropdown-item {
    white-space: normal;
    display: flex;
    background-color: transparent;
    border: none;
}

.dropdown-item > .form-check {
    display: flex;
    text-align: left;
    align-items: center;
    padding-left: 0px !important;
    min-height: 1.5rem;
    margin-bottom: 3px;
}

.dropdown-item > .form-check > .form-check-input {
    margin: 0;
}

.dropdown-item > .form-check > .form-check-label {
    margin: 0;
    padding-left: 10px !important;
}

.form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media (prefers-reduced-motion: reduce) {
  .form-select {
    transition: none;
  }
}

.form-select:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 1px 3px #006eaa;
}
.form-select[multiple], .form-select[size]:not([size="1"]) {
  padding-right: 0.75rem;
  background-image: none;
}
.form-select:disabled {
  background-color: #e9ecef;
}
.form-select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #212529;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}
.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: 0;
    margin-top: 0.125rem;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-item:hover, .dropdown-item:focus {
    color: #1e2125;
    background-color: #e9ecef;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #0d6efd;
}
.dropdown-item.disabled, .dropdown-item:disabled {
    color: #adb5bd;
    pointer-events: none;
    background-color: transparent;
}

.multiselect-native-select > .btn-group > .form-select {
    width: 220px !important;
    margin-bottom: 10px !important;
}


/* 
@media print {
    #row2 .dashboard-cell {
        width: 210px !important;
        display: inline-block !important;
    }
    .tooltip {
        display: none !important;
    }
    .dashboard-title::before {
        content: "Splunk Security Essentials ";
    }
    #bookmarkNavContainer {
        display: none;
    }
    #footer {
        display: none;
    }
    .tableexpand {
        display: none;
    }
    .tableChangeStatus {
        display: none;
    }
    .dashboard-view-controls {
        display: none;
    }
    .editCustomUseCaseIcons {
        display: none;
    }
    .printandexporticons {
        display: none;
    }
    #bookmark_table {
        display: none;
    }
    #bookmark_printable_table {
        display: block;
    }
    .prop-name {
        border-top: 1px solid gray !important;
    }
    .prop-value {
        border-top: 1px solid gray !important;
    }
    #bookmark_printable_table h1 {
        page-break-before: always;
        break-before: always;
    }
    .dvexpand thead {
        display: table-row-group !important;
    }
    body .dvexpand td {
        display: inline-block !important;
    }
    body td {
        word-break: normal !important;
    }
    .printonly {
        display: block
    }
    .breakbeforethis {
        page-break-before: always;
        break-before: always;
    }
    .linebylinespl td {
        border: 1px solid darkgray !important;
        padding-left: 4px;
        padding-right: 4px;
    }
    .splside {
        font-family: "Courier New", monospace;
        white-space: pre;
        width: 50% !important;
        white-space: pre-wrap;
        
        white-space: -moz-pre-wrap;
        
        white-space: -pre-wrap;
        
        white-space: -o-pre-wrap;
        
        word-wrap: break-word;
        
    }
    .docside {
        width: 50% !important;
    }
    .donotbreak {
        page-break-inside: avoid;
    }
    #bottomTextBlock {
        display: none !important;
    }
} */