
@media print {


    .hljs-literal {
        color: #78A960 !important;
      }
      
    
    code.spl .hljs-built_in{
        color: #0066f7 !important
    }
    code.spl .hljs-literal
    {
        color: #cf00c9 !important
    }
    
    code.spl .hljs-keyword{
        color: #f97e2f !important
    }
    code.spl {
        font-family: "Splunk Platform Mono", Inconsolata, Consolas, "Droid Sans Mono", Monaco, "Courier New", Courier, monospace;
        background-color: white;
        color: #333333 !important;
        /* font-size: 14px; */
    }
    code.spl .hljs-string,.hljs-number{
        color: #333333 !important;
    }
    
    code.conf .hljs-attr{
        color: #0066f7 !important;
    }
    
    pre.search{
        background-color: transparent;
        padding: 0;
        word-break: normal; 
    
    }
    
    
      .hljs-built_in,
      .hljs-bullet,
      .hljs-code,
      .hljs-addition {
        color: #397300 !important;
      }
      
      
      /* Meta color: hue: 200 */
      
      .hljs-meta {
        color: #1f7199 !important;
      }
      
      .hljs-meta-string {
        color: #4d99bf !important;
      }
      
      
      /* Misc effects */
      
      .hljs-emphasis {
        font-style: italic;
      }
      
      .hljs-strong {
        font-weight: bold;
      }
    
        
    .mitre {
        box-shadow: inset 0 0 0 1000px darkred !important;
        color: #eee !important;
        -webkit-print-color-adjust: exact !important;
    }

    .highlightedusecase {
        box-shadow: inset 0 0 0 1000px F1C40F !important;
        color: #641E16 !important;
        -webkit-print-color-adjust: exact !important;
    }

    .killchain {
        box-shadow: inset 0 0 0 1000px darkgreen !important;
        color: #eee !important;
        -webkit-print-color-adjust: exact !important;
    }

    .technology {
        box-shadow: inset 0 0 0 1000px darkorange !important;
        color: #eee !important;
        -webkit-print-color-adjust: exact !important;
    }

    .cis {
        box-shadow: inset 0 0 0 1000px darkblue !important;
        color: #eee !important;
        -webkit-print-color-adjust: exact !important;
    }
    .mitre_tactic_displayElements {
        box-shadow: inset 0 0 0 1000px darkred !important;
        color: #eee !important;
        -webkit-print-color-adjust: exact !important;
    }

    .mitre_technique_displayElements {
        box-shadow: inset 0 0 0 1000px purple !important;
        color: #eee !important;
        -webkit-print-color-adjust: exact !important;
    }

    .mitre_threat_groupsElements {
        box-shadow: inset 0 0 0 1000px #c63f1f !important;
        color: #eee !important;
        -webkit-print-color-adjust: exact !important;
    }

    .highlightElements {
        box-shadow: inset 0 0 0 1000px F1C40F !important;
        color: #641E16 !important;
        -webkit-print-color-adjust: exact !important;
    }

    .killchainElements {
        box-shadow: inset 0 0 0 1000px darkgreen !important;
        color: #eee !important;
        -webkit-print-color-adjust: exact !important;
    }
        
    .coredatasource {
        box-shadow: inset 0 0 0 1000px #3863a0 !important;
        color: #eee !important;
        -webkit-print-color-adjust: exact !important;
    }

    .coredatasource a,span {
        color: #eee !important;
        -webkit-print-color-adjust: exact !important;
    }

}