.popover{
  display: block !important;
  opacity: 1;
  position: absolute;
  max-width: 500px !important;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border-radius: 6px;
}
.popover-header {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.popover-body {
  padding: 9px 14px;
  display: block;
  color: #3c444d;
  font-family: Splunk Platform Sans,Proxima Nova,Roboto,Droid,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-size-adjust: 100%;
}
.tooltip{
  opacity: 1;
}
.popover-arrow{
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 11px;
}

.popover[data-popper-placement="right"] .popover-arrow {
  left: -11px;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0;
}

.popover[data-popper-placement="top"] .popover-arrow {
  bottom: -11px;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-width: 0;
}
.popover[data-popper-placement="bottom"] .popover-arrow {
  top: -11px;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-top-width: 0;
}
.popover[data-popper-placement="left"] .popover-arrow {
  top: 50%;
  border-left-color: rgba(0, 0, 0, 0.25);
  border-right-width: 0;
}