{% extends "base.html" %}

{% block content %}
<div class="text-center mb-4">
    <img src="/logos/logo_name.png" height="150px" alt="Logo">
    <h1>AI Cyber Engineer</h1>
    <p class="text-muted">Manage your SmartSOC SmartLP.</p>
</div>

<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h5 class="card-title">SmartLP</h5>
                <p class="card-text">Explore and Manage Log Parsers.</p>
                <a href="{{ url_for('smartlp') }}" class="btn btn-info">Go to SmartLP</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

