##
## SPDX-FileCopyrightText: 2021 Splunk, Inc. <sales@splunk.com>
## SPDX-License-Identifier: LicenseRef-Splunk-8-2021
##
##
[monitor://<path_of_the_directory_containing_json_file>]
sourcetype = bit9:carbonblack:json
whitelist = <regex_to_match_json_files>
## Example of regex for files like event_bridge_output.json, event_bridge_output.json.20190416 and event_bridge_output.json.2019-05-13T11:41:28.167.restart
## whitelist = .*\.json(\.[\d\-T:\.a-z]*)?